@{
    ViewData["Title"] = "Web Repeated Numbers Sieve ";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="TransformLiteral" method="post">
        <input type="text" size="40" name="literal" value="@ViewData["inputLiteral"]" />
        <button type="submit">Press Me</button>
    </form>
    <label>@ViewData["outputLiteral"]</label>
</div>
